body{
    background-color: #1C1E1D;
}
h1{
    font-size: 40px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: lightgray; text-align: center;
}
p{
    text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: lightgray;
}